flask>=3.0.2
flask-cors>=4.0.0
google-auth>=2.28.1
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.120.0
numpy>=1.26.4
pandas>=2.2.1
scikit-learn>=1.4.1.post1
replicate>=0.23.1
supabase>=2.3.4
python-dotenv>=1.0.1
gunicorn>=21.2.0
pyngrok>=7.1.5